/* general info */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,500;1,700&display=swap'); */
body{
  background: #d8d3d3;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* si on a float left pour le div logo header et float right pour nav on ajoute .clear pour resoudre le proble du float */
.clear{
  clear: both;
}
/* 2 eme solution pour resoudre le float */
/* on ajoute la proprite   overflow: hidden; pour le parent qui deux child ont flaot right left */
.resoudre-float {
  overflow: hidden;
}

header {
  padding: 10px 0;
 margin: 10,10;
}
 /*header logo*/
 header .header-logo {
 
  margin-left: 3;
    padding-top: 10;
    float: left;
    padding-right: 10px;
 
 }
 /* end header logo*/
 iframe{
  height: 250;
 }
/* navigation*/
nav  a {
  display: inline-block;
    font-size: 20;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #03030363;
    font-weight: 800;
    margin: 20;
    
}
/*end navigation*/
header .header-networks {
  float: right;
    height: 40px;
    padding-top: 6px;
    margin-left: 40px
}

header .header-networks a  {
 
  display: inline-block;
    padding-top: 3px;
    margin-left: 10px;
  

}
header  form{
 float: right;
  margin-top: 3;
  padding-top: 10;
}
select {
  color:#03030363;
  background-color: #ddd;
  border-block-style: none;
}

/* end-heaaaaader*/
/*  debut section*/
section{
  
  padding: 5;
  margin: 10;
}
section a{
 
  text-decoration: none;
  font-size: 25px;
   font-weight: 100;
   color: #03030363;
   margin: 30;
 
}
/*section fondation*/
.spetialite {
  float: left;
  padding-top: 10;
}
/*end section fondation*/
/*end section*/
/*section p*/
.fondation {
  float: right;
  padding-top: 15;
}
/*end section*/
/*section  parag*/
section description p{
  font-size: 30;
  color: #08080863;
  font-family: 'Times New Roman';
  float: right;
}

/*end section logo1*/
.references {
  margin-right: 13;
  float: left;
}
section.iframe{
  float:right;
}
/*footer*/
footer.foot{
  background-color: #474b3d63 ;
  
  padding-top: 10px;
  font-size: 20px;
}
h1 {
  font-family: 'hikouregular';
    font-weight: normal;
    color: #e10419;
    font-size: 56px;
    text-align: center;
    margin-bottom: 35px;
    margin-top: 70;
}
h2 {
  padding-bottom: 30;
}
.left-footer {
  float: left;
  font-size: 20;
  padding-left: 160;
  margin-right: 30;
}
.right-footer {
  float: right;
  padding-right: 200;
  font-size: 20;
}
ul {
  list-style: none;
  color: #000;
}
li{
display: inline-block;
    padding: 10px;
    color: #000;
}
section a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;
  color: #030303;
  margin: 30;
}
.copy{
  
    font-size: 16;
    text-align: center;

}
/*end footer*/
 
   